<form action="#" (submit)="onAddPost(postForm)" #postForm="ngForm">
  <div class="container">
    <h3>Add Form</h3>
    <mat-form-field>
      <input
        type="text"
        id="title"
        name="title"
        matInput
        ngModel
        #title="ngModel"
        placeholder="Title of post"
      />
    </mat-form-field>

    <mat-form-field>
      <textarea
        id="content"
        name="content"
        matInput
        rows="2"
        cols="30"
        ngModel
        #content="ngModel"
        placeholder="Content"
      ></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button class="btn">Submit</button>
  </div>
</form>
<br />
<br />
