<div class="container">
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <p>{{ post.title }}</p>
      </mat-expansion-panel-header>
      {{ post.content }}
      <mat-action-row>
        <button mat-button color="warn" (click)="onDelete(post._id)">
          DELETE!
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p *ngIf="posts.length <= 0">No posts yet</p>
  <mat-paginator
    [length]="totalPosts"
    [pageSize]="postPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
  ></mat-paginator>
</div>
